# file: /etc/systemd/system/syncthing@.service
# Info on this file:
# https://docs.syncthing.net/users/autostart.html#systemd
# sudo systemctl status syncthing@bakman.service
# sudo systemctl start syncthing@bakman.service
# sudo systemctl stop syncthing@bakman.service
# systemctl enable syncthing@bakman.service
# systemctl start syncthing@bakman.service
#
[Unit]
Description=Syncthing - Open Source Continuous File Synchronization for %I
Documentation=man:syncthing(1)
After=network.target
Wants=syncthing-inotify@.service

[Service]
User=%i
#ExecStart=/usr/bin/syncthing -no-browser -no-restart -logflags=0
ExecStart=/usr/bin/syncthing -home /etc/syncthing -no-restart -no-browser -logflags=0  >> "/etc/syncthing/log/syncthing_$(date +"%Y%m")" 2>/dev/null
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target

